/* ―――――――――――――――――― Profile ―――――――――――――――――― */

.profile_cards {
	gap: 32px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.profile_cards__item {
	width: 580px;
	height: fit-content;
	
	padding: 32px;
	border-radius: 16px;
	border: 2px var(--color-dark-tertiary) solid;
	background-color: var(--color-dark-primary);
	box-shadow: 0px 4px 12px var(--color-dark-primary);

	gap: 24px;
	display: flex;
	flex-direction: column;
}

.profile_cards__item-header {
	gap: 32px;
	display: flex;
	align-items: center;
}

.profile_cards__item-header-info {
	display: flex;
	align-items: center;
	justify-content: left;
	flex-direction: column;
}

.profile_cards__item-header-info h4 {
	width: 100%;
}

.profile_cards__item-separator {
	border: 1px solid var(--color-dark-tertiary);
}


/* ―――――――――――――――――― Contacts ―――――――――――――――――― */


.contact_cards {
	gap: 32px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.contact_cards__item {
	max-width: fit-content;
	padding: 32px;
	
	border-radius: 16px;
	border: 2px var(--color-dark-tertiary) solid;
	background-color: var(--color-dark-primary);

	gap: 12px;
	display: flex;
	flex-direction: column;
	flex-basis: calc(90%);
	box-sizing: border-box;
}

.contact_cards__item li {
	margin-left: 32px;
}


/* ―――――――――――――――――― Projects ―――――――――――――――――― */


.project_cards__item {
	max-width: 1184px;
	padding: 24px;
	
	border-radius: 16px;
	border: 2px solid var(--color-dark-tertiary);
	background-color: var(--color-dark-primary);

	gap: 24px;
	display: flex;
	flex-direction: column;
}

.project_cards__item-separator {
	border: 1px solid var(--color-dark-tertiary);
}

.project_cards__item-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.project_cards__item-logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 32px;
}

.project_cards__item-carousel {
	overflow: hidden;
	position: relative;

	display: flex;
	align-items: center;
}

.project_cards__item-logo img {
	max-width: 64px;
	max-height: 64px;
}

.project_cards__item-carousel-animation {
	display: flex;
	gap: 8px;
	animation: scrollCarousel 30s linear infinite;
}

.project_cards__item-carousel-item {
	max-width: 480px;
	max-height: 240px;
	flex-shrink: 0;
	border-radius: 8px;
	border: 2px solid var(--color-dark-tertiary);
	background: linear-gradient(0deg, var(--color-dark-secondary) 0%, var(--color-dark-secondary) 100%);
}

.project_cards__item-carousel-item img {
	width: 100%;
	height: 100%;
	object-fit:scale-down;
	border-radius: 8px;
}


/* ―――――――――――――――――― Animation, adaptive viewports ―――――――――――――――――― */


/* Анимация прокрутки */
@keyframes scrollCarousel {
	0% {
		transform: translateX(0%);
	}

	50% {
		transform: translateX(-60%);
	}

	100% {
		transform: translateX(0%);
	}
}

/* Экран от 375px */
@media (min-width: 375px) {

}

/* Экран от 480px */
@media (min-width: 480px) {

}

/* Экран от 640px */
@media (max-width: 640px) {

	.profile_cards__item {
		gap: 18px;
		padding: 12px;
	}

	.profile_cards__item li {
		margin-left: 24px;
	}

	.profile_cards__item-header img {
		width: 64px;
		height: 64px;
	}

	.profile_cards {
		max-width: 100%;
		justify-content: left;
	}

	.project_cards__item {
		max-width: 100%;
		justify-content: left;
	}
}

/* Экран от 960px */
@media (max-width: 960px) {
	.contact_cards {
		justify-content: left;
	}

	.contact_cards__item {
		min-width: 100%;
	}
}

/* Экран от 1440px */
@media (max-width: 1440px) {

	.profile_cards__item {
		min-width: 100%;
	}

	.profile_cards__item-header img {
		width: 64px;
		height: 64px;
	}
}