
.header {
    max-width: 100%;    
    background-color: var(--color-green-primary);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 { color: var(--color-dark-tertiary); }


/* ―――――――――――――――――― Header title, containers ―――――――――――――――――― */


.header__title {
    display: none;
}

.header__container {
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__left, .header__right .header__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
}


/* ―――――――――――――――――― Adaptivee viewports ―――――――――――――――――― */


/* Экран от 375px */
@media (min-width: 375px) {
    .header__container {
        margin-top: 8px;
        margin-bottom: 8px;
        justify-content: space-around;
    }
    .header__left, .header__right .header__nav-list {
        gap: 32px;
    }
    .header__logo {
        width: 32px;
        height: 32px;
    }
}
  
/* Экран от 480px, 540 */
@media (min-width: 480px) , (min-width: 540px) {
    .header__left, .header__right .header__nav-list {
        gap: 36px;
    }
    .header__logo {
        width: 40px;
        height: 36px;
    }
}

/* Экран от 480px, 540 */
@media (min-width: 540px) {
    .header__title {
        display: flex;
    } 
}


/* Экран от 640px */
@media (min-width: 640px) {
    .header__left, .header__right .header__nav-list {
        gap: 40px;
    }
    .header__logo {
        width: 40px;
        height: 40px;
    }
    .header__title {
        display: flex;
    }
}

/* Экран от 768px */
@media (min-width: 768px) {
    .header__left, .header__right .header__nav-list {
        gap: 48px;
    }
    .header__logo {
        width: 48px;
        height: 48px;
    }
    .header__title {
        display: flex;
    }
}

/* Экран от 1024px */
@media (min-width: 1024px) {
    .header__left, .header__right .header__nav-list {
        gap: 56px;
    }
    .header__logo {
        width: 56px;
        height: 56px;
    }
    .header__title {
        display: flex;
    }
}

/* Экран от 1280px */
@media (min-width: 1280px) {
    .header__container {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .header__left, .header__right .header__nav-list {
        gap: 56px;
    }
    .header__logo {
        width: 60px;
        height: 60px;
    }
    .header__title {
        display: flex;
    }
}

/* Экран от 1440px */
@media (min-width: 1440px) {
    .header__container {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .header__left, .header__right .header__nav-list {
        gap: 56px;
    }
    .header__title {
        display: flex;
    }
}