/* Основной стиль секции */
.projects {
  width: 100%;
  background: url('../static/SectionProjects.png') center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
}

.projects__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

/* Универсальные стили текста */
.text--title {
  color: #D9FFFD;
  font-size: 56px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  text-align: center;
}

.text--description {
  color: #cccccc;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  line-height: 1.75;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  /* Центрирует блок по горизонтали */
}


.text--heading {
  color: #cccccc;
  font-size: 36px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.text--button {
  color: #31b6e7;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  padding: 12px;
  border: 1px solid #294966;
  border-radius: 8px;
}

.text--golden {
  color: #FFFF93;
}

.text--small {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

/* Карточка проекта */
.project-card {
  width: 1184px;
  padding: 32px;
  background: #0d0d0d;
  border: 2px solid #333333;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.project-card__header {
  display: flex;
  align-items: center;
  gap: 32px;
}

.project-card__logo {
  width: 64px;
  height: 64px;
}

.project-card__title {
  flex: 1;
}

.project-card__separator {
  height: 2px;
  background: rgba(255, 255, 255, 0.05);
}

.project-card__gallery {
  display: flex;
  gap: 8px;
  overflow: hidden;
}

.project-card__carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
}

.project-card__carousel-track {
  display: flex;
  gap: 8px;
  animation: scrollCarousel 10s linear infinite;
}

.project-card__image {
  width: 480px;
  height: 240px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px solid #333333;
  background: linear-gradient(0deg, #1A1A1A 0%, #1A1A1A 100%);
}

/* Анимация прокрутки */
@keyframes scrollCarousel {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-38%);
  }

  100% {
    transform: translateX(0);
  }
}